power-automate/get-teams-meeting-recordings/scope_definition.json
{
    "id": "ce686488-dcd7-478b-be6d-7ddc-15358ddc",
    "brandColor": "#8C3900",
    "connectionReferences": {
        "shared_sharepointonline": {
            "connection": {
                "id": "/otsf_sharedsharepointonline_b3e61"
            }
        },
        "shared_sharepointonline_1": {
            "connection": {
                "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/c1e75bbd012644f98d0ac4e47519477a"
            }
        }
    },
    "connectorDisplayName": "Control",
    "icon": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=",
    "isTrigger": false,
    "operationName": "Get-Teams-Meeting-Recordings_",
    "operationDefinition": {
        "type": "Scope",
        "actions": {
            "Tenant-SharePoint-Url": {
                "type": "Compose",
                "inputs": "",
                "runAfter": {},
                "description": "Compose (eg: 'https://contoso.sharepoint.com')",
                "metadata": {
                    "operationMetadataId": "f0feb3c0-c27a-4f79-9886-a0f9f284b327"
                }
            },
            "Get-Teams-Meeting-Recordings": {
                "type": "OpenApiConnection",
                "inputs": {
                    "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "HttpRequest",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                        "dataset": "@outputs('Tenant-SharePoint-Url')",
                        "parameters/method": "GET",
                        "parameters/uri": "_api/search/query?querytext='ProgID:Media AND ProgID:Meeting'&selectproperties='Filename,SitePath,DocumentLink,Title,Path,ListID,UniqueId'",
                        "parameters/headers": {
                            "Accept": "application/json;odata=nometadata"
                        }
                    },
                    "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                },
                "runAfter": {
                    "Tenant-SharePoint-Url": [
                        "Succeeded"
                    ]
                },
                "description": "Send an HTTP request to SharePoint",
                "metadata": {
                    "operationMetadataId": "7d916c84-5687-4c1b-aefc-6d4b33d36ab4"
                }
            },
            "Teams-Meeting-Recordings-Metadata": {
                "type": "Select",
                "inputs": {
                    "from": "@outputs('Get-Teams-Meeting-Recordings')?['body/primaryQueryResult/relevantResults/table/rows']",
                    "select": {
                        "Filename": "@xpath(\r\n    xml(\r\n        json(\r\n            concat(\r\n                '{\"Root\": { \"Cells\": ',\r\n                item()?['Cells'],\r\n                '}'\r\n            )\r\n        )\r\n    ),\r\n    'string(//Cells[Key=\"Filename\"]/Value)'\r\n)",
                        "SitePath": "@xpath(\r\n    xml(\r\n        json(\r\n            concat(\r\n                '{\"Root\": { \"Cells\": ',\r\n                item()?['Cells'],\r\n                '}'\r\n            )\r\n        )\r\n    ),\r\n    'string(//Cells[Key=\"SitePath\"]/Value)'\r\n)",
                        "DocumentLink": "@xpath(\r\n    xml(\r\n        json(\r\n            concat(\r\n                '{\"Root\": { \"Cells\": ',\r\n                item()?['Cells'],\r\n                '}'\r\n            )\r\n        )\r\n    ),\r\n    'string(//Cells[Key=\"DocumentLink\"]/Value)'\r\n)",
                        "Title": "@xpath(\r\n    xml(\r\n        json(\r\n            concat(\r\n                '{\"Root\": { \"Cells\": ',\r\n                item()?['Cells'],\r\n                '}'\r\n            )\r\n        )\r\n    ),\r\n    'string(//Cells[Key=\"Title\"]/Value)'\r\n)",
                        "ID": "@last(split(xpath(\r\n    xml(\r\n        json(\r\n            concat(\r\n                '{\"Root\": { \"Cells\": ',\r\n                item()?['Cells'],\r\n                '}'\r\n            )\r\n        )\r\n    ),\r\n    'string(//Cells[Key=\"Path\"]/Value)'\r\n), 'ID='))",
                        "ListID": "@xpath(\r\n    xml(\r\n        json(\r\n            concat(\r\n                '{\"Root\": { \"Cells\": ',\r\n                item()?['Cells'],\r\n                '}'\r\n            )\r\n        )\r\n    ),\r\n    'string(//Cells[Key=\"ListID\"]/Value)'\r\n)",
                        "UniqueID": "@xpath(\r\n    xml(\r\n        json(\r\n            concat(\r\n                '{\"Root\": { \"Cells\": ',\r\n                item()?['Cells'],\r\n                '}'\r\n            )\r\n        )\r\n    ),\r\n    'string(//Cells[Key=\"UniqueId\"]/Value)'\r\n)",
                        "FilePath": "@replace(\r\n    xpath(\r\n    xml(\r\n        json(\r\n            concat(\r\n                '{\"Root\": { \"Cells\": ',\r\n                item()?['Cells'],\r\n                '}'\r\n            )\r\n        )\r\n    ),\r\n    'string(//Cells[Key=\"DocumentLink\"]/Value)'\r\n    ),\r\n    xpath(\r\n    xml(\r\n        json(\r\n            concat(\r\n                '{\"Root\": { \"Cells\": ',\r\n                item()?['Cells'],\r\n                '}'\r\n            )\r\n        )\r\n    ),\r\n    'string(//Cells[Key=\"SitePath\"]/Value)'\r\n    ),\r\n    ''\r\n)",
                        "FolderPath": "@replace(\r\n    replace(\r\n        xpath(xml(json(concat('{\"Root\": { \"Cells\": ', item()?['Cells'], '}'))), 'string(//Cells[Key=\"DocumentLink\"]/Value)'),\r\n        join(\r\n        take(\r\n            split(\r\n                xpath(\r\n                    xml(\r\n                        json(\r\n                            concat(\r\n                                '{\"Root\": { \"Cells\": ',\r\n                                item()?['Cells'],\r\n                                '}'\r\n                            )\r\n                        )\r\n                    ),\r\n                    'string(//Cells[Key=\"SitePath\"]/Value)'\r\n                ),\r\n                '/'\r\n            ),\r\n            5\r\n        ),\r\n        '/'\r\n    ),\r\n    ''\r\n    ),\r\n    xpath(\r\n        xml(\r\n            json(\r\n                concat(\r\n                    '{\"Root\": { \"Cells\": ',\r\n                    item()?['Cells'],\r\n                    '}'\r\n                )\r\n            )\r\n        ),\r\n        'string(//Cells[Key=\"Filename\"]/Value)'\r\n    ),\r\n    ''\r\n)"
                    }
                },
                "runAfter": {
                    "Get-Teams-Meeting-Recordings": [
                        "Succeeded"
                    ]
                },
                "description": "Select",
                "metadata": {
                    "operationMetadataId": "2155aaaa-7fb7-4dc9-b993-8294fcf39f5d"
                }
            }
        },
        "runAfter": {},
        "description": "Made With ♥ by @ohthreesixfive",
        "metadata": {
            "operationMetadataId": "a452d1aa-48aa-4157-9db9-0ced4bffdc93"
        }
    }
}
